body {
    font-size: 20px;
    background-color: #B8D8D8;
}
.base {
  display: none;
}
.terminado {
  opacity: 0.5;
}
.terminado .texto {
  text-decoration: line-through;
}
li label, li .check-todo {
  cursor: pointer;
}
.btn.btn-default {
  background-color: #4F6367;
  color: #fff;
}